.homeContent {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 180px;
}

.homeContent img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 180px;
    position: absolute;
}

.homeDesc {
    max-width: 600px;
    margin-left: 650px;
    margin-top: 150px;
}

.homeDesc h1 {
    display: block;
    font-size: 88px;
    font-weight: 600;
}

.homeDesc h2 {
    display: block;
    font-size: 44px;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 5px;
}

.buttons button {
    margin-right: 8px;
    background: transparent;
    margin-left: -2px;
    margin-top: -8px;
}