.accenture {
    width: 40px;
    margin-top: 9px;
    margin-left: 13px;
}

.smu {
    width: 45px;
    margin-top: 3px;
    margin-left: 8px;
}

.f5 {
    width: 45px;
    margin-top: 10px;
    margin-left: 9px;
}

.arty {
    width: 45px;
    border-radius: 25%;
    margin-top: 8px;
    margin-left: 8px;
}

.ejc {
    width: 45px;
    margin-top: 8px;
    margin-left: 7px;
}

.hwachong {
    width: 45px;
    margin-top: 9px;
    margin-left: 8px;
}

ul {
    margin-left: 15px;
}